/* *{
    padding: 0%;
    margin: 0%;
}

:root{
    --corPrimaria:rgb(34, 117, 71);
    --corSecundaria: rgb(19, 112, 152) ;
    --branco: rgb(232, 226, 226);
}

header, footer{
    width: 100%;
    background-color: var(--corPrimaria);
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    color: rgb(187, 114, 19);
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

nav{
    display: flex;
    gap: 10px;
    justify-items: center;
}

#logo{
    display: flex;
    gap: 20px;

    text-align: center;
}

#logo img{
    width: 30px;
}

#catalogo{
    width: 90%;
    margin: 10px auto;
    background-color: var(--branco);
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;  
}*/

/* .filme{
    width: 200px;
    background-color: rgb(60, 195, 239);
    padding: 5px;
    color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    text-align: center;
    color: antiquewhite; 
} */

/* main{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

button{
    display: flex;
    padding: 5px; 
} */

/* .filme img{
    width: 80%;
    border-radius: 5px;
} */

