*{
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
}

#cabecalho1{
    width: 100%;
    height: 40px;
    background-color: rgb(104, 59, 29);
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    color: antiquewhite;
}

#naveg{
    width: 100%;
    height: 50px;
    background-color: rgb(158, 132, 94); 
    display: flex;
    justify-content: center; 
    font-family: serif;
    line-height: 50px;
    
    
}

#naveg nav a{
    text-decoration: none; 
}

h2{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(107, 74, 47);
}

#conteudo{
    background-color: chocolate;
    float: center;


padding: 50px 25px 0px;
}

#conteudo img{
    padding: 50px; 
}