*{
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
}

#cabecalho1{
    width: 100%;
    height: 40px;
    background-color: rgb(104, 59, 29);
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    color: antiquewhite;
}

#imagem img{
    /* width: 10%;
    height: 20px;
    display: flex;  
    justify-content: start;
    align-items: start; */

    height: 80px;
}

/* #nav{
    
    flex-direction: row;
} */

